body{/*cor do fundo e fonte*/
  background-color: #1b1f27;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  overflow: hidden;
}

.area-login{/*a area toda do formulario*/
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.login{/*direção e cor do formulario*/
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #181920;
  border-radius: 10px;
  width: 355px;
  height: 320px;
  padding: 35px; 
}

.login form{/*tamanho do formulario*/
  display: flex;
  width: 100%;
  flex-direction: column;
}
 
.login input{/*cor e direção do botao de entrar*/
  margin-top: 10px;
  background-color: #252A34;
  color: #CBD0F7;
  padding-left: 10px;
  border: none;
  height: 45px;
  outline: none;
  border-radius: 8px;
  
}

.login img{/*logo*/
  width: 190px;
  height: auto;  
}


.input::placeholder, form .eyes img{/*onde ta escrito 'usuario' e 'senha'*/
  color: #CBD0F7;
  font-size: 15px;
}


form [type="submit"]{/*botao*/
  position: relative;
  display: block;
  background-color: #8880fe;
  color: #e8cbc0;
  font-size: 1.1rem;
  transition: all .3s ease-in-out;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  border-radius: 32px;
  /*width: 50%;
  margin-top: 4rem;*/
}

main form input[type="submit"]:hover {/*cor botao*/
  background: #252A34;
}

p{
  font-family:Arial, Helvetica, sans-serif ;
  color: #CBD0F7;
}

a{
  font-family: Arial, Helvetica, sans-serif;
  color: #5568fe;
  text-decoration: none;
  margin-left: 10px;
}